* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d5a57f;
  font-size: 16px;
  color: #4b3132;
}

a {
  color: #4b3132;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  padding: 0px;
}

p {
  font-family: "Times New Roman", Times, serif;
}

h2{
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

hr {
  width: 80%;
  color: #db8d4e;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.5;
}

#wrapper {
  max-width: 1300px;
  margin: auto;
}

#wrapper header {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#nav_bar {
  width: 100%;
  background: #d2d09f;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#nav_bar label {
  display: none;
}

#nav_bar input {
  display: none;
}

#nav_bar ul {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

#nav_bar a {
  font-size: 1.2em;
  padding: 20px;
  font-weight: bold;
}

#banner figure {
  margin: 0;
  position: relative;
}

#banner img {
  min-width: 200px;
  width: 100%;
  display: block;
}

#banner figcaption {
  color: #e9d7a9;
  width: 72%;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  position: absolute;
  top: 32%;
  padding-left: 5%;
}

#banner h2 {
  margin-bottom: 0.3em;
}

#banner a {
  margin-top: 0.6em;
  text-align: center;
  padding: 0.3em;
  border-radius: 5px;
  width: 7em;
  background-color: #e9d7a9;
  color: #4b3132;
}

#histoire {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #d2d09f;
}

#histoire #text {
  width: 50%;
  padding: 0 50px;
}

#histoire h3 {
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

#grand-text {
  font-size: 1.3em;
  margin: 1em 0;
}

#red {
  color: #db8d4e;
}

#question {
  width: 40%;
}

#question h3 {
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

#question li {
  display: flex;
  justify-content: flex-start;
}

#question i {
  display: flex;
  align-items: center;
}

#question .align {
  margin: 0em 1em;
}

#accordion {
  width: 50%;
  padding-top: 1.6em;
}

.tab {
  position: relative;
  max-width: 600px;
}

.tab input {
  display: none;
}

.tab label {
  display: block;
  background: #4b3132;
  color: #d2d09f;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.tab label::after {
  content: "\25b6";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: all 0.4s;
}

.tab input[type="radio"]:checked + label::after {
  transform: rotate(0.25turn);
}

.tab-content {
  display: none;
  overflow: hidden;
  background: #e9d7a9;
  transition: height 0.5s;
  height: 0;
}

.tab input:checked ~ .tab-content {
  height: 235px;
  display: block;
}

.tab-content p {
  margin: 20px;
}

#portfolio #row {
  display: flex;
  height: 100%;
}

.container {
  width: 325px;
  height: 250px;
  overflow: hidden;
}

#portfolio img {
  width: 325px;
  height: 250px;
  transition: transform 0.5s ease;
}

#portfolio img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#menu-2 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #e9d7a9;
  padding: 1.5em;
}

#menu-2 ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

#menu-2 #load {
  margin: 1em;
  color: #e9d7a9;
  background-color: #4b3132;
  border-radius: 5px;
  padding: 1em;
}

#testimonials {
  width: 100%;
  background-color: #d2d09f;
}

#testimonials h2 {
  text-align: center;
  margin: 0;
  padding-top: 2em;
}

#testimonials .testimon {
  margin: 5% 10%;
  display: flex;
}

#testimonials .footer {
  display: block;
  margin: 0% 2em;
}

#testimonials p {
  font-size: 1.5em;
}

#testimonials span {
  color: #db8d4e;
}

#testimonials #bottom {
  margin-bottom: 1.9em;
}

#space {
  height: 110px;
}

#testimonials a {
  width: 203px;
  display: block;
  margin: 0 auto;
  background-color: #4b3132;
  color: #d2d09f;
  border-radius: 5px;
  padding: 1em;
}

#banner-2 figure {
  margin: 0;
  position: relative;
}

.parallax {
  background-image: url("../css/img/banner_2.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-2 figcaption {
  font-weight: bold;
  color: #4b3132;
  width: 72%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4em;
  position: absolute;
  top: 25%;
  margin: 0 14%;
}

#banner-2 h2 {
  font-size: 2.5em;
  margin: 0.5em;
}

#banner-2 p {
  margin: 0;
  color: #4b3132;
  text-shadow: 3px 3px #d2d09f;
  border-radius: 5px;
  padding: 1em;
}

#banner-2 a {
  margin-top: 0.6em;
  margin: 0  auto;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  width: 10em;
  background-color: #4b3132;
  color: #d2d09f;
}

#banner-2 a:hover {
  opacity: 1;
  background-color: #8b6364;
}

#contact {
  background-color: #e9d7a9;
}

#contact form {
  padding: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
}

#contact form .column {
  display: block;
  width: 40%;
}

#contact h2 {
  padding-top: 2em;
  margin: 0;
  text-align: center;
}

#contact input,
textarea {
  padding-left: 1em;
  width: 100%;
  height: 3em;
  margin: 2% 0;
  border: none;
  background-color: rgb(255, 255, 243);
}

#contact input[type="text"]:focus,
textarea:focus {
  background-color: #4b3132;
  color: #e9d7a9;
}

#contact form textarea {
  height: 128px;
}

#contact input[type="submit"] {
  font-size: 1.2em;
  width: 100px;
  height: 50px;
  color: #e9d7a9;
  background-color: #4b3132;
  border-radius: 10px;
  padding: 0%;
}

footer #footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #d2d09f;
  height: 270px;
}

#footer section {
  width: 30%;
  padding-left: 50px;
  padding-top: 20px;
}

#footer-nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

#footer-nav ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

#footer-nav li {
  padding: 0 10px;
}

#footer-nav a {
  margin-top: 40px;
}

#footer form {
  display: flex;
  flex-direction: column;
}

#footer input[type="text"] {
  border: none;
  border-radius: 0;
  background-color: rgb(255, 255, 243);
  padding: 5px;
}

#footer input[type="text"]:focus {
  background-color: #4b3132;
  color: #d2d09f;
}

#footer form input[type="submit"] {
  border: none;
  border-radius: 5px;
  background-color: #4b3132;
  color: #d2d09f;
  margin-top: 10px;
  width: 100px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  #nav_bar {
    display: flex;
    justify-content: space-between;
  }

  #nav_bar label {
    display: block;
    color: #4b3132;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }

  #hamburger {
    display: inline-block;
  }

  #nav_bar img {
    display: none;
  }

  #nav_bar ul li {
    display: block;
    padding: 5px 0;
  }

  #nav_bar ul li {
    border-top: 1px solid #4b3132;
  }

  #nav_bar ul {
    display: none;
  }

  #nav_bar input:checked ~ ul {
    display: block;
    width: 50%;
  }

  #banner figcaption {
    width: 60%;
    height: 100%;
    top: 8%;
    padding-left: 4%;
    font-size: 12px;
  }

  #incal figcaption h2 {
    font-size: 14px;
  }

  #histoire {
    flex-direction: column;
  }

  #histoire #text {
    width: 100%;
  }

  #histoire #question {
    width: 100%;
    padding-left: 50px;
  }

  #histoire #accordion {
    width: 100%;
  }

  .tab input:checked ~ .tab-content {
    height: 10%;
  }

  #portfolio #row {
    display: flex;
    flex-direction: column;
  }

  #portfolio img {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  #menu-2 ul {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    font-size: 2em;
  }

  #menu-2 #load {
    height: 5%;
    margin: auto 0;
  }

  #testimonials .testimon {
    display: flex;
    flex-direction: column;
  }

  #testimonials img {
    width: 50%;
    margin: auto;
  }

  #testimonials a{
    text-align: center;
  }

  #banner-2 p {
    display: none;
  }
  #contact form {
    flex-direction: column;
    text-align: center;
  }

  #contact form .column {
    width: 90%;
    margin: 0 auto;
  }
  
  footer #footer{
    flex-direction: column;
    height: 100%;
  }  

  #footer section {
    width: 100%;
    padding: 0 5%;
  }
}
